---
// Integration Logos Section
// ------------
// Description: A section with logos of supported integrations.

// Components
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
import { Image } from 'astro:assets'

// Content
import tuya from '../../../assets/webflow/logo-tuya-smart-life.png'
import hue from '../../../assets/webflow/logo-philips-hue.png'
import alexa from '../../../assets/webflow/logo-amazon-alexa.png'
import ifttt from '../../../assets/webflow/logo-ifttt.svg'

const images = [
	{ image: tuya, alt: 'Tuya / Smart Life logo' },
	{ image: hue, alt: 'Philips Hue logo' },
	{ image: alexa, alt: 'Amazon Alexa logo' },
	{ image: ifttt, alt: 'IFTTT logo' }
]

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section padding="bottom" classes={classes}>
	<Row>
		<Col span="12" align="center">
			<h2 class="!mb-6 text-base font-normal text-neutral-400 dark:text-neutral-600">
				Works with <strong class="highlight">600+ brands</strong> via IFTTT
			</h2>
		</Col>
	</Row>
	<Row flex classes="!flex-row">
		{
			images.map((item) => (
				<Col classes="flex items-center justify-center px-4">
					<Image
						src={item.image}
						alt={item.alt}
						class="h-10 w-auto object-contain opacity-60 grayscale transition hover:opacity-100 hover:grayscale-0 dark:brightness-200 dark:hover:brightness-100"
					/>
				</Col>
			))
		}
	</Row>
</Section>
