---
// Basic FAQ section
// ------------
// Description: A section that contains a list of frequently asked questions with answers.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Accordion from '../../ui/Accordion.astro'
import Card from '../../ui/cards/partials/Card.astro'

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="FAQ" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">
				Common <strong>questions</strong> about pricing
			</h2>
			<p class="text-lg leading-relaxed">
				Everything you need to know about Apilio’s plans and billing.
			</p>
		</Col>
		<Col span="2" />
		<Col span="8">
			<Card classes="divide-y divide-neutral-100 dark:divide-neutral-800">
				<Accordion
					title="What is a logicblock?"
					text="A logicblock is a combination of conditions and actions you create on Apilio to automate something. The conditions set what needs to be happening in order to execute the actions in the logicblock. For example, a condition could be that it must be nighttime, or that the temperature outside is lower than 20ºC. The actions are what the logicblock accomplishes: turn on a smart light bulb, turn off your AC..."
				/>
				<Accordion
					title="How frequently does Apilio deal with my events?"
					text="All plans will send/process events every second, if your rate is higher than this we might have to pause the offending Logicblock to investigate the situation. We’ll be in touch if that’s the case to make sure things are ok."
				/>
				<Accordion
					title="How many variables and conditions can I have?"
					text="Each plan includes a maximum number of active logicblocks, as well as a maximum number of variables and conditions. We expect you to make a fair use of Apilio, so if we detect an unusually high number of connections from/to your account, we might have to pause the offending logicblock and we’ll be in touch to make sure everything is ok."
				/>
				<Accordion
					title="What happens when you reach the maximum number of active logicblocks in your plan?"
					text="You can continue to create logicblocks, but they will be saved as inactive for you. You’ll have to make one of the other logicblocks inactive if you want to activate a different one, or change to a different plan. But it’s really flexible: you get to choose which logicblocks you want to keep active!"
				/>
				<Accordion
					title="The trial is too short for me, I need more time"
					text="We are happy to extend your trial, just get in touch and we will extend it for you 🙂"
				/>
				<Accordion
					title="Will you start charging when the trial is up?"
					text="No, you won’t be charged unless you choose to subscribe to one of the plans. You don’t need to provide a credit card to start your 21-day free trial."
				/>
				<Accordion
					title="What happens if I don’t subscribe after the trial?"
					text="Your account will be inactive. It can remain inactive for a month. After this time, we’ll delete it."
				/>
				<Accordion
					title="What happens if I don’t renew my plan?"
					text="Your account will be deactivated when your plan expires: it will stop receiving updates from and triggering actions in IFTTT. We will keep your configuration and information for 1 month in case you want to subscribe again, so you can continue right where you left it. You can also delete your account yourself before that 1 month is up if you’d like to."
				/>
				<Accordion
					title="When can I cancel?"
					text="You can cancel anytime with a just a click. Any active logicblocks or connected variables that you don’t delete will continue to be active for the remaining time that was left in your plan."
				/>
				<Accordion
					title="Can I get a refund?"
					text="Subscriptions are non-refundable but we can convert them into credit for a new plan if you want to downgrade/upgrade to a different tier. Get in touch if you are unsure about what your needs are and we’ll help you find the right plan for you."
				/>
				<Accordion
					title="We are a charity or educational establishment using Apilio"
					text="Please get in touch as we would like to try to continue to support to you if possible 😀"
				/>
			</Card>
		</Col>
		<Col span="2" />
	</Row>
</Section>

<style>
	.page-header {
		@apply mx-auto max-w-3xl;
	}
	.page-header__text {
		@apply text-lg leading-relaxed;
	}
</style>
