---
// Bottom CTA section
// ------------
// Description: Dark call to action for trial signup.

// Components
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
import CTA from '../../ui/CTA.astro'
import Button from '../../ui/Button.astro'

---

<Section>
	<Row>
		<Col span="1" />
		<Col span="10">
			<CTA
				title="Try Apilio free for 21 days"
				text="No credit card required. Plans start at $1.50/month."
			>
				<Button size="lg" style="primary" link="https://app.apilio.com/signup">
					Start free trial
				</Button>
			</CTA>
		</Col>
		<Col span="1" />
	</Row>
</Section>
